*/**/__pycache__/*
__pycache__/
venv/*
config.py
playground.py
settings.toml
.venv

# Linters
.pytest_cache
.ruff_cache

# misc
lemur_users_export.json
lemur-users.xlsx
app/static/deepstate.json
.DS_STORE
*.db

# PyRight
pyrightconfig.json

# PyCharm
.idea

# VsCode
.vscode/*

.profile_info
